body {
  font-family: arial, sans-serif;
  background-image: url(img/Win112.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sekme {
  position: relative;
  display: inline-block;
}


.sekme-tusu {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 2px 2px 3px black;
  border-radius: 10px;
}


.sekme-tusu:hover {
  background-color: dodgerblue;
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 10px;
}


.sekme-icerik {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 152px;
  z-index: 1;
  transition: 0.3s;
  border-radius: 10px;
}


.sekme-icerik a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}


.sekme-icerik a:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
}


.sekme:hover .sekme-icerik {
  display: block;
  transition: 0.3s;
}


.sekme:hover .sekme-tusu {
  background-color: dodgerblue;
}

main {
  color: white;
  padding-top: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

ul:hover {
  color: dodgerblue;
  transition: 0.25s;
}

li:hover {
  color: dodgerblue;
  transition: 0.25s;
}

a:hover {
  color: dodgerblue;
  transition: 0.25s;
}

header {
  height: 100%;

}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  text-decoration: none;
  color: white;
}

li {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.menu-button {
  color: dodgerblue;
  text-decoration: none;
  background-color: #ffffff;
  padding: 12px 24px;
  border-radius: 56px;
}

.menu-button:hover {
  background-color: dodgerblue;
  color: white;
  transition: 0.25s;
  transform: scale(1.05);
}

.secim {
  /*Ana sayfadaki beyaz şey*/
  background-color: white;
  text-align: center;
  box-shadow: 0px 6px 20px darkgray;
  border-radius: 10px;
  padding: 1.5rem;
  width: 50rem;
  justify-content: center;
  margin-top: 270px;
}

.button {
  /*Ana sayfada*/
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.button:hover {
  background-color: dodgerblue;
  color: white;
  transition: 0.25s;
  transform: scale(1.05);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*Grid'in özelliği fr, var olan alana yayılmasını sağlar*/
  gap: 20px;
  /*üste, alta, sağa ve sola 20px boşluk koyar*/
}

.resim-karti {
  position: relative;
  /*içine eklenen şeyleri kendi belirlediği alana göre hizalar*/
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resim-karti img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
  /*Resim büyürken ve küçülürken 0.3 saniyelik bir animasyon koyar*/
}

.resim-karti:hover img {
  transform: scale(1.1);
}

.hover-bilgi {
  position: absolute;
  bottom: 0;
  /*position:absolute ile çalışır ve yazıyı kartın en altına yapıştırır, width:100% ile karta yayar*/
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  /*Yazı ortaya çıkarken ve kaybolurken 0.3 saniyelik animasyon katar*/
}

.resim-karti:hover .hover-bilgi {
  opacity: 1;
}

.don {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.don:hover {
  background-color: dodgerblue;
  color: white;
  transition: 0.25s;
  transform: scale(1.05);
  cursor: pointer;
}

.magaza {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.magaza:hover {
  background-color: gray;
  color: white;
  transition: 0.25s;
  transform: scale(1.05);
  cursor: pointer;
}

.pop {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

section {
  padding: 40px 5%;
  background: black;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 1200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 250px;
  background: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 60%;
  height: auto;
  border-radius: 4px;
}